
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1526893162740'); /* IE9*/
  src: url('iconfont.eot?t=1526893162740#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1526893162740') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1526893162740#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before { content: "\2309"; }

.icon-dianhua:before { content: "\2301"; }

.icon-555:before { content: "\2307"; }

.icon-666:before { content: "\2302"; }

.icon-in:before { content: "\2310"; }

.icon-circleyuanquan:before { content: "\2311"; }

.icon-social-skype:before { content: "\2308"; }

.icon-pingguo:before { content: "\2303"; }

.icon-twitter:before { content: "\2304"; }

.icon-xiangqingchakan:before { content: "\2306"; }

.icon-youxiang:before { content: "\2305"; }

